{% extends "catalog.html" %}

{% block content %}
<h1>Add new guitar</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <!-- {% for field in form %}
    <div class="mb-3">
        <label class="form-label">{{field.label}}</label>
        {{field}}
    </div>
    {% endfor %} -->
    <div class="mb-3">
        <label class="form-label">Brand</label>
        <input type="text" name="brand" class="form-control" placeholder="Enter guitar brand">
    </div>
    <div class="mb-3">
        <label class="form-label">Model</label>
        <input type="text" name="model" class="form-control" placeholder="Enter guitar model">
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="number" name="price" class="form-control" placeholder="Enter guitar price">
    </div>
    <div class="mb-3">
        <label class="form-label">Type</label>
        <input type="text" name="type" class="form-control" placeholder="Enter guitar type">
    </div>
    <div class="mb-3">
        <label class="form-label">Year</label>
        <input type="number" name="year" class="form-control" placeholder="Enter guitar year">
    </div>
    <div class="mb-3">
        <label class="form-label">Color</label>
        <input type="text" name="color" class="form-control" placeholder="Enter guitar color">
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
{% endblock %}
