    {% extends 'catalog.html' %}
            
        {% block content %}
            <ul>
                {% for guitar in guitars %}
                {% if id == guitar.id %}
                <h4>{{ guitar.model }}</h4>
                <p style="margin-top: -10px;">Price: {{ guitar.price }}$</p>
                <p style="margin-top: -15px;">Brand: {{ guitar.brand }}</p>
                <p style="margin-top: -15px;">Type: {{ guitar.type }}</p>
                <p style="margin-top: -15px;">Year: {{ guitar.year }}</p>
                {% endif %}
                {% endfor %}
            </ul>
        {% endblock %}
